<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298617521081-ktm68icv8d8ss5vrfc1gomvhj66in19s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298617521081-ktm68icv8d8ss5vrfc1gomvhj66in19s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298617521081-7pg023p5r612d5g4ft95i0tnhkuip236.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgEKKArbJg_i8JnXbUs5_1ZxjHdJPOKdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>298617521081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.healonline</string>
	<key>PROJECT_ID</key>
	<string>healonline-8b0a4</string>
	<key>STORAGE_BUCKET</key>
	<string>healonline-8b0a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298617521081:ios:8a2e83138d948cd910ac68</string>
	<key>DATABASE_URL</key>
	<string>https://healonline-8b0a4-default-rtdb.firebaseio.com</string>
</dict>
</plist>